<aside class="main-sidebar">

    <section class="sidebar">

        <ul class="sidebar-menu" >

            <li class="header">Management Symstems</li>

            <li>
                <a href="/products/index">
                    <span class="main-text">Item</span>
                </a>
            </li>

            <li>
                <a href="/categories/index">
                    <span class="main-text">Category</span>
                </a>
            </li>

            <li>
                <a href="/suppliers/index">
                    <span class="main-text">Supplier</span>
                </a>
            </li>
        </ul>

    </section>

</aside>