<aside class="main-sidebar">

    <section class="sidebar">

        <ul class="sidebar-menu" data-widget="tree">

            <li class="header">---MANAGEMENT---</li>

            <li>
                <a href="/products/index">
                    <span class="main-text">PRODUCTS</span>
                </a>
            </li>

            <li>
                <a href="/categories/index">
                    <span class="main-text">CATEGORIES</span>
                </a>
            </li>

            <li>
                <a href="/suppliers/index">
                    <span class="main-text">SUPPLIES</span>
                </a>
            </li>
        </ul>

    </section>

</aside>